
body {
    font-family: 'Arial', sans-serif; /* Use uma fonte moderna aqui */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Faz a rolagem do menu suave */
    scroll-behavior: smooth; 
}