
.dark-veil-background { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
}
.bemvindo-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.boas-vindas-container {
    width: 100vw;
    min-height: 100vh; 
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
    font-family: 'Manrope';
    color: #fff ;
}

.title{
    font-size: 4rem;
    font-weight: 1000;
    margin: 0;
}

.entrar-btn{
  background-color: #ffffff1f;
  color: #ffffff91;
  border: 1px solid #cccccc59;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 8px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.entrar-btn:hover{
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #5c38ff;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #7d37ff;
    background-color: #ffffff00;
}
