.darkveil-canvas {
    /* Define a posição para que ele ancore nos cantos */
    position: absolute;
    top: 0;
    left: 0;
    
    /* CRUCIAL: Força a largura e altura a serem 100% */
    width: 100% !important; 
    height: 100% !important;
    
    /* Garante que o elemento seja tratado como bloco */
    display: block; 
}