.portfolio-container {
    /* CORREÇÃO: Mude de 'height' para 'min-height' e remova o !important. */
    min-height: 100vh; /* Garante que a página tenha no mínimo a altura da tela, mas permite crescer */
    width: 100vw; 
    margin: 0 auto;
    background-color: #111111 ;
    justify-content: center;
}

.light-rays-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  background-color: #111111 ;
}

.background-area {
  color: var(--color-gray-200);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 860px;
}

.sobre-section{
  z-index: 10;
}

.conteudo{
  margin-top:14rem ;
  z-index: 10;
}

/* O conteúdo (Header, Hero) deve estar sempre acima, como já estava */
#home {
  margin-top: 14rem;
  z-index: 10;
}

.hero-container{
  display: flex;
}

.container-principal{
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.hero-texto{
  width: 70%;
}

.hero-texto h1{
  font-size: 3rem;
  color: white;
}

.hero-texto span{
  background: var(--gradient-purple-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragrafo{
  width: 500px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Urbanist';
}

.perfil-img{
  height: 300px;
  border-radius: 20px;
}

.saiba-mais{
  padding: 10px;
  background: rgba(211, 211, 211, 0.055);
  border-radius: 8px;
  color: white;
  font-family: 'Urbanist';
  border: 1px solid var(--color-roxo-primario);
  font-size: 1rem;
  transition: 0.2s ease;
}

.saiba-mais:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 20px #8b4ee088;
}

.entre-contato{
  font-size: 1rem;
  padding: 10px;
  margin: 20px 20px 0 0;
  background: var(--gradient-purple-2);
  border-radius: 8px;
  color: white;
  font-family: 'Urbanist';
  border: 1px solid var(--color-roxo-primario);
  transition: 0.2s ease;
}

.entre-contato:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 20px #8b4ee088;
}