.portfolio-container {
    /* CORREÇÃO: Mude de 'height' para 'min-height' e remova o !important. */
    min-height: 100vh; /* Garante que a página tenha no mínimo a altura da tela, mas permite crescer */
    width: 100vw; 
    margin: 0 auto;
    background-color: #111111 ;
    justify-content: center;
}

.light-rays-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  background-color: #111111 ;
}

.background-area {
  color: white;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 860px;
}



.sobre-section{
  z-index: 10;
}

.conteudo{
  margin-top:14rem ;
  z-index: 10;
}

/* O conteúdo (Header, Hero) deve estar sempre acima, como já estava */
#home {
  margin-top: 14rem;
    z-index: 10;
}
