.faculdade-section{
  width: 70%;
}

.faculdade-card{
  color: #fff;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  padding: 10px ;
  background: rgba(37, 37, 37, 0.353);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.2s ease;
  font-size: 0.8rem;
  gap: 10px;
}



.faculdade-title img{
  vertical-align: bottom;
  width: 25px;
}

.faculdade-card h3{
  margin: 0;
}

.faculdade-card p{
  margin: 0;
}

.uni{
  color: var(--color-roxo-primario);
}

.conc{
  color: #b9b9b9;
}