.habilidades-container{
  color: white;
  display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
}

.habilidades-container h2{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    background: var(--gradient-purple-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    margin: 20px 0 0 0;
}

.skills-grid{
  justify-content: center;
  display: flex;
  gap: 100px;
  
}

.skills-grid p{
  font-size: 13px;
}

.skill-card{
  margin-top: 30px;
  display: flex;
  font-family: 'Urbanist';
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}

.skill-card:hover{
  transform: translateY(-4px);
}

.skill-card p{
  margin:10px 0 0 0;
}

.skill-card img{
  width: 40px;
}