.sobre-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
}

.background-sobre{
    width: 100%;
    background-image: url('../assets/ooorganize.svg');
    background-position: center;
    object-fit: fill;
    filter: blur();
    min-height: 60vh;

}

.sobre-content {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.sobre-section {
    display: flex;
    align-items: center;
    color: white;
    gap: 40px;
    margin: 0 auto;
    min-height: 220px;
}

.sobre-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    background: var(--gradient-purple-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    margin: 20px 0 0 0;
}

.sobre-container p {
    text-align: center;
    margin: 0;
    color: #c1c1c1;
    margin-bottom: 40px;
    font-family: 'Poppins';
}

.sobre-texto-content {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    gap: 8px;
    max-width: 900px;
}

.sobre-texto-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    padding-left: 20px;
    font-family: 'Poppins';

}

.sobre-texto-content h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    border-radius: 4px;
    height: 80px;
    background: var(--color-roxo-primario);
    box-shadow: 0 2px 8px #7200dd55;
}

.sobre-texto-content p {
    font-family: 'Urbanist';
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
    color: #fff;
    line-height: 1.6;
    text-align: left;
}

.sobre-texto-content span {
    background: var(--gradient-purple-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.curriculo {
    font-size: 1rem;
    padding: 10px;
    margin: 20px 20px 0 0;
    background: var(--gradient-purple-2);
    border-radius: 8px;
    color: white;
    font-family: 'Urbanist';
    border: 1px solid var(--color-roxo-primario);
    transition: 0.2s ease;
}

.curriculo img {
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}

.github {
    padding: 10px;
    background: rgba(211, 211, 211, 0.055);
    border-radius: 8px;
    color: white;
    font-family: 'Urbanist';
    border: 1px solid var(--color-roxo-primario);
    font-size: 1rem;
    transition: 0.2s ease;
    align-items: center;
}

.github img {
    height: 20px;
    vertical-align: bottom;
    margin-right: 3px;
}

.github:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #8b4ee0da;
}
.curriculo:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #8b4ee0da;
}

