html, body, #root {
    margin: 0;
    padding: 0;
    /* Faz a página ocupar 100% da largura e altura da tela */
    width: 100vw; 
    height: 100vh;
    /* CRUCIAL: Esconde qualquer conteúdo que tente sair do limite da tela, removendo as barras de rolagem desnecessárias */
    overflow: hidden; 
}